body {
    margin: 0;
}

.wrapper {
    //background-color: #FFEB3B;
    background-color: #FFE082;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: black;
    width: 25vw;
    height: 79vh;
    border-radius: 20px;
    flex-direction: column;
}

.calculator__screen {
    height: 9vh;
    width: 80%;
    margin-top: 9vh;
    margin-bottom: 1vh;
    //background-color: darkgray;
    display: flex;
    align-items: center;
}

.calculator__answer {
    margin-left: auto;
    font-size: 7vmin;
    margin-right: 2vmin;
    color: white;
    overflow-X: hidden;
}

.calculator__buttons-wrapper {
    width: 80%;
    height: 50vh;
    //background-color: darkgray;
}

.calculator__button-line {
    width: 100%;
    margin: 1vmin 0;
}

.calculator__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vmin;
    width: 7.5vmin;
    background-color: white;
    margin: 3px;
    border-radius: 50%;
    color:white;
}

.calculator__double-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5vmin;
    width: 15vmin;
    background-color: white;
    margin: 5px;
    color: white;
    border-radius: 17px;
}

.calculator__circle-button {
    height: 7vmin;
    width: 7vmin;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: black;
}

.circle-button__square {
    width: 3.5vmin;
    height: 3.5vmin;
    border: 1px solid grey;
}

.orange  {
    background-color: #FF9500;
}

.dark-grey {
    background-color: #505050;
}

.grey {
    background-color: #D4D4D2;
}

.black-font {
    color: black;
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.test-button {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: #FF9500;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}